 <div id="map"></div>

<h1>Listing Farmer's Markets <small><%= @farms.total_count %> Farms</small></h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Website</th>
      <th>Schedule</th>
      <th>Average</th>
    </tr>
  </thead>

  <tbody>
    <% @farms.each do |farm| %>
      <tr>
        <td><%= link_to farm.name, farm_path(farm) %></td>
        <td><%= farm.address %></td>
        <td><%= farm.website %></td>
        <td><%= farm.schedule %></td>
        <td nowrap="nowrap"><div class="average_<%= farm.id %>"></div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @farms %>

<br>
<% if current_user %>
<%= link_to "New Farmer's Markets", new_farm_path %>
<% end %>

<script type="text/javascript">
  
  <% @farms.each do |farm| %>
      $(".average_<%= farm.id %>").raty({
        starOn: "<%= image_path('star-on.png') %>",
        starOff: "<%= image_path('star-off.png') %>",
        score: <%= farm.total_average_rating %>,
        readOnly: true
      });
      <% end %>

</script>

<script>
$(window).ready(function() {

  window.map = L.map('map');

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'ingridhastings.bc26c7a2',
    accessToken: 'pk.eyJ1IjoiaW5ncmlkaGFzdGluZ3MiLCJhIjoiNDQyMGEyMWY1YTVkYTk1MGJlMzNlMDhkNTFjZmJkZGEifQ.QQFmYFRRPmjbDthM1xyHsg'
  }).addTo(window.map);


  window.map.setView([<%= @map_coordinates %>], 10);
  <% @farms.each do |farm| %>
  L.marker([<%= farm.latitude%> , <%= farm.longitude %>]).bindPopup("<b><%= farm.name %>/b>").addTo(map);
  <% end %>
})
</script>